<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SekundarNovi.Properties.Settings.connString" connectionString="Data Source=K-0600-097\SQL14;Initial Catalog=Sekundar;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
        <add name="SekundarNovi.Properties.Settings.SekundarConnectionString"
            connectionString="Data Source=K-0600-097\SQL14;Initial Catalog=Sekundar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>